<!DOCTYPE html>
<html lang="en" ng-app="supportApp">
  <head>
  	<title>Support Chat</title>
  	<script type="text/javascript">
  		document.cookie = "session=<%=sessionFlag%>";
  	</script>
  </head>
  <body>
  	<h1>Support Chat</h1>
  	<p><%- message %></p>
  </body>
</html>